dataset/configuration-anonymized.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.evoting.ch/xmlns/config/3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration" type="ns:configurationType" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
  <xs:complexType name="voteInformationType">
    <xs:sequence>
      <xs:element type="ns:voteType" name="vote" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extendedAuthenticationKeysType">
    <xs:sequence>
      <xs:element type="xs:string" name="keyName" minOccurs="0"/>
      <xs:element type="ns:extendedAuthenticationKeyType" name="extendedAuthenticationKey" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contestDescriptionType">
    <xs:sequence>
      <xs:element type="ns:contestDescriptionInfoType" name="contestDescriptionInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dwellingAddressType">
    <xs:sequence>
      <xs:element name="street">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Hauptstrasse"/>
            <xs:enumeration value="Avenue du Général-Guisan"/>
            <xs:enumeration value="Rue des Agges"/>
            <xs:enumeration value="Route de Planafaye"/>
            <xs:enumeration value="Jardins du Salesianum"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="houseNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="12"/>
            <xs:enumeration value="62"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="zipCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="3185"/>
            <xs:enumeration value="1700"/>
            <xs:enumeration value="1635"/>
            <xs:enumeration value="1752"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="town">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Schmitten"/>
            <xs:enumeration value="Fribourg / Freiburg"/>
            <xs:enumeration value="La Tour-de-Trême"/>
            <xs:enumeration value="Villars-sur-Glâne"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="answerInfoType">
    <xs:sequence>
      <xs:element name="language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="rm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="answer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contestType">
    <xs:sequence>
      <xs:element type="xs:string" name="contestIdentification"/>
      <xs:element type="xs:string" name="contestDefaultLanguage"/>
      <xs:element type="xs:string" name="contestDate"/>
      <xs:element type="ns:contestDescriptionType" name="contestDescription" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="xs:string" name="evotingFromDate"/>
      <xs:element type="xs:string" name="evotingToDate"/>
      <xs:element type="ns:extendedAuthenticationKeysType" name="extendedAuthenticationKeys" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:electionInformationType" name="electionInformation" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:voteInformationType" name="voteInformation" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:uiPropertiesType" name="uiProperties" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="headerType">
    <xs:sequence>
      <xs:element type="xs:string" name="fileDate"/>
      <xs:element type="xs:string" name="voterTotal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="standardBallotType">
    <xs:sequence>
      <xs:element type="xs:string" name="questionIdentification"/>
      <xs:element type="xs:string" name="answerType"/>
      <xs:element type="ns:ballotQuestionType" name="ballotQuestion" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:answerType" name="answer" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listDescriptionType">
    <xs:sequence>
      <xs:element type="ns:listDescriptionInfoType" name="listDescriptionInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extendedAuthenticationKeyType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="answerType">
    <xs:sequence>
      <xs:element type="xs:string" name="answerIdentification"/>
      <xs:element name="answerPosition">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="standardAnswerType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
            <xs:enumeration value="EMPTY"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="hiddenAnswer" minOccurs="0"/>
      <xs:element name="standardQuestionReference" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Q1"/>
            <xs:enumeration value="Q2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:answerInfoType" name="answerInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="variantBallotType">
    <xs:sequence>
      <xs:element type="ns:standardQuestionType" name="standardQuestion" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:tieBreakQuestionType" name="tieBreakQuestion" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="electionInformationType">
    <xs:sequence>
      <xs:element type="ns:electionType" name="election" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:candidateType" name="candidate" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:listType" name="list" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:listUnionType" name="listUnion" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="voteDescriptionType">
    <xs:sequence>
      <xs:element type="ns:voteDescriptionInfoType" name="voteDescriptionInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="candidateTextOnPositionType">
    <xs:sequence>
      <xs:element type="ns:candidateTextInfoType" name="candidateTextInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listUnionDescriptionInfoType">
    <xs:sequence>
      <xs:element name="language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="rm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="listUnionDescription">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Listenverbindung Musiker, Mathematiker, Wissenschafter"/>
            <xs:enumeration value="Listes apparentées Musiker, Mathematiker, Wissenschafter"/>
            <xs:enumeration value="Lista apparentmento Musiker, Mathematiker, Wissenschafter"/>
            <xs:enumeration value="Colliaziun da glistas Musiker, Mathematiker, Wissenschafter"/>
            <xs:enumeration value="Unterlistenverbindung Mathematiker, Wissenschafter"/>
            <xs:enumeration value="Listes sous-apparentées Mathematiker, Wissenschafter"/>
            <xs:enumeration value="Sottocongiunzione di liste Mathematiker, Wissenschafter"/>
            <xs:enumeration value="Sutcolliaziun da glistas Mathematiker, Wissenschafter"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listUnionDescriptionType">
    <xs:sequence>
      <xs:element type="ns:listUnionDescriptionInfoType" name="listUnionDescriptionInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorizationType">
    <xs:sequence>
      <xs:element type="xs:string" name="authorizationIdentification"/>
      <xs:element type="xs:string" name="authorizationName"/>
      <xs:element type="xs:string" name="authorizationAlias"/>
      <xs:element type="xs:string" name="authorizationTest"/>
      <xs:element type="xs:string" name="authorizationFromDate"/>
      <xs:element type="xs:string" name="authorizationToDate"/>
      <xs:element type="xs:string" name="authorizationGracePeriod"/>
      <xs:element type="ns:authorizationObjectType" name="authorizationObject" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listUnionType">
    <xs:sequence>
      <xs:element name="listUnionIdentification">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="LU-1"/>
            <xs:enumeration value="ULU-2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:listUnionDescriptionType" name="listUnionDescription" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element name="listUnionType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="referencedList" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="L3"/>
            <xs:enumeration value="L4"/>
            <xs:enumeration value="L5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ballotQuestionInfoType">
    <xs:sequence>
      <xs:element name="language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="rm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="ballotQuestionTitle"/>
      <xs:element type="xs:string" name="ballotQuestion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="candidateType">
    <xs:sequence>
      <xs:element type="xs:string" name="candidateIdentification"/>
      <xs:element name="mrMrs" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="familyName"/>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="callName"/>
      <xs:element type="ns:candidateTextType" name="candidateText" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="xs:string" name="dateOfBirth"/>
      <xs:element name="sex">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="incumbent">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:dwellingAddressType" name="dwellingAddress" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:swissType" name="swiss" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:occupationalTitleType" name="occupationalTitle" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="voteType">
    <xs:sequence>
      <xs:element type="xs:string" name="voteIdentification"/>
      <xs:element type="xs:string" name="domainOfInfluence"/>
      <xs:element type="ns:voteDescriptionType" name="voteDescription" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:ballotType" name="ballot" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contestDescriptionInfoType">
    <xs:sequence>
      <xs:element name="language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="rm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="contestDescription"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ballotDescriptionType">
    <xs:sequence>
      <xs:element type="ns:ballotDescriptionInfoType" name="ballotDescriptionInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listDescriptionInfoType">
    <xs:sequence>
      <xs:element name="language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="rm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="listDescriptionShort"/>
      <xs:element type="xs:string" name="listDescription"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="occupationalTitleInfoType">
    <xs:sequence>
      <xs:element name="language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="rm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="occupationalTitle">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="conseiller national, délégué aux affaires intercantonales / Nationalrat, Delegierter für interkantonale Angelegenheiten"/>
            <xs:enumeration value="conseillère d'Etat / Staatsrätin"/>
            <xs:enumeration value="conseillère d'Etat, ingénieure agronome EPFZ / Staatsrätin, Ing. agr. ETHZ"/>
            <xs:enumeration value="député, administrateur d'une fiduciaire / Grossrat, Geschäftsführer eines Treuhandbüros"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="occupationalTitleType">
    <xs:sequence>
      <xs:element type="ns:occupationalTitleInfoType" name="occupationalTitleInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ballotDescriptionInfoType">
    <xs:sequence>
      <xs:element name="language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="rm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ballotDescriptionLong">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volksinitiative «Volksinitiative A»"/>
            <xs:enumeration value="Initiative populaire «Initiative populaire A»"/>
            <xs:enumeration value="Iniziativa popolare «Iniziativa popolare A»"/>
            <xs:enumeration value="Iniziativa dal pievel «Iniziativa dal pievel A»"/>
            <xs:enumeration value="Demo Bundesbeschluss C"/>
            <xs:enumeration value="Démo Arrêté fédéral C"/>
            <xs:enumeration value="Demo Decreto federale C"/>
            <xs:enumeration value="Demo Conclus federal C"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ballotDescriptionShort">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Initiative A"/>
            <xs:enumeration value="Iniziativa A"/>
            <xs:enumeration value="Demo Bundesbeschluss C"/>
            <xs:enumeration value="Démo Arrêté fédéral C"/>
            <xs:enumeration value="Demo Decreto federale C"/>
            <xs:enumeration value="Demo Conclus federal C"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="domainOfInfluenceType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="cantonCode"/>
      <xs:element type="xs:string" name="type"/>
      <xs:element type="xs:string" name="localId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="uiPropertiesType">
    <xs:sequence>
      <xs:element type="ns:propertyType" name="property" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ballotQuestionType">
    <xs:sequence>
      <xs:element type="ns:ballotQuestionInfoType" name="ballotQuestionInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ballotType">
    <xs:sequence>
      <xs:element name="ballotIdentification">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="b1"/>
            <xs:enumeration value="b2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ballotPosition">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:ballotDescriptionType" name="ballotDescription" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:variantBallotType" name="variantBallot" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:standardBallotType" name="standardBallot" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorizationObjectType">
    <xs:sequence>
      <xs:element type="ns:domainOfInfluenceType" name="domainOfInfluence" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:countingCircleType" name="countingCircle" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="electionDescriptionType">
    <xs:sequence>
      <xs:element type="ns:electionDescriptionInfoType" name="electionDescriptionInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="swissType">
    <xs:sequence>
      <xs:element name="origin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Buochs"/>
            <xs:enumeration value="Emmetten"/>
            <xs:enumeration value="Ennetbürgen"/>
            <xs:enumeration value="Beckenried"/>
            <xs:enumeration value="Dallenwil"/>
            <xs:enumeration value="Rickenbach"/>
            <xs:enumeration value="Mézières"/>
            <xs:enumeration value="Saignelégier"/>
            <xs:enumeration value="Treyvaux"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="candidateTextInfoType">
    <xs:sequence>
      <xs:element name="language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="rm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="candidateText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="voterType">
    <xs:sequence>
      <xs:element type="xs:string" name="voterIdentification"/>
      <xs:element type="xs:string" name="authorization"/>
      <xs:element type="ns:extendedAuthenticationKeysType" name="extendedAuthenticationKeys" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element name="sex">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="MALE"/>
            <xs:enumeration value="FEMALE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="voterType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="electionType">
    <xs:sequence>
      <xs:element name="electionIdentification">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Eidgenoessische_Wahlen"/>
            <xs:enumeration value="majorz_wahl"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="domainOfInfluence"/>
      <xs:element name="typeOfElection">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:electionDescriptionType" name="electionDescription" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element name="numberOfMandates">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="5"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="writeInsAllowed">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="candidateAccumulation">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propertyType">
    <xs:sequence>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="voteDescriptionInfoType">
    <xs:sequence>
      <xs:element name="language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="rm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="voteDescription">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Eidgenössische Volksabstimmung"/>
            <xs:enumeration value="Votation populaire fédérale"/>
            <xs:enumeration value="Votazione popolare federale"/>
            <xs:enumeration value="Votaziun federala dal pievel"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="candidateTextType">
    <xs:sequence>
      <xs:element type="ns:candidateTextInfoType" name="candidateTextInfo" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element type="ns:headerType" name="header" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:contestType" name="contest" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:authorizationsType" name="authorizations" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:registerType" name="register" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="candidatePositionType">
    <xs:sequence>
      <xs:element type="xs:string" name="candidateListIdentification"/>
      <xs:element name="positionOnList">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="candidateReferenceOnPosition"/>
      <xs:element type="xs:string" name="candidateIdentification" minOccurs="0"/>
      <xs:element type="ns:candidateTextOnPositionType" name="candidateTextOnPosition" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="standardQuestionType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="questionIdentification">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Q1"/>
            <xs:enumeration value="Q2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="questionPosition">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="answerType"/>
      <xs:element type="ns:ballotQuestionType" name="ballotQuestion" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:answerType" name="answer" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="electionDescriptionInfoType">
    <xs:sequence>
      <xs:element name="language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="rm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="electionDescriptionShort">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Nationalrat"/>
            <xs:enumeration value="Conseil national"/>
            <xs:enumeration value="Demo Consiglio nationale"/>
            <xs:enumeration value="Demo Cussegl natiunal"/>
            <xs:enumeration value="Ständerat"/>
            <xs:enumeration value="Conseil des Etats"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="electionDescription">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Nationalratswahl"/>
            <xs:enumeration value="Election du Conseil national"/>
            <xs:enumeration value="Elezione del Consiglio nationale"/>
            <xs:enumeration value="Elecziun dal Cussegl natiunal"/>
            <xs:enumeration value="Ständeratswahl"/>
            <xs:enumeration value="Election du Conseil des Etats"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tieBreakQuestionType">
    <xs:sequence>
      <xs:element type="xs:string" name="questionIdentification"/>
      <xs:element type="xs:string" name="questionPosition"/>
      <xs:element type="xs:string" name="answerType"/>
      <xs:element type="ns:ballotQuestionType" name="ballotQuestion" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element type="ns:answerType" name="answer" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listType">
    <xs:sequence>
      <xs:element type="xs:string" name="listIdentification"/>
      <xs:element name="listIndentureNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="E1-L1"/>
            <xs:enumeration value="E1-L2"/>
            <xs:enumeration value="E1-L3"/>
            <xs:enumeration value="E1-L4"/>
            <xs:enumeration value="E1-L5"/>
            <xs:enumeration value="99"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:listDescriptionType" name="listDescription" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
      <xs:element name="listOrderOfPrecedence">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="listEmpty">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:candidatePositionType" name="candidatePosition" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorizationsType">
    <xs:sequence>
      <xs:element type="ns:authorizationType" name="authorization" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="countingCircleType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerType">
    <xs:sequence>
      <xs:element type="ns:voterType" name="voter" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.evoting.ch/xmlns/config/3"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>